.encabezado{
    background-color: black;
  color: white;
}
.befeniciario{
    width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* @media
.befeniciario{


} */